@page "/client"
@using Microsoft.VisualBasic.CompilerServices
@inject PM_GasWaterFication.MongoDB.MongoDBAction mongo

<h3>ClientPage</h3>
<h2>@userFname</h2>


@if (mongo.isLoginClient != null)
{
    <h3>Y</h3>
}

@if (mongo.isLoginClient == null)
{
    <h3>N</h3>
}



@code {

    String userFname = "null";


    protected override void OnInitialized()
    {

        if (mongo.isLoginClient != null)
        {
            userFname = mongo.isLoginClient.Email;
        }
    }

}