@page "/signIn"
@using PM_GasWaterFication.Models.RazorComponents
@using PM_GasWaterFication.MongoDB
@inject PM_GasWaterFication.MongoDB.MongoDBAction mongo
@inject NavigationManager NavigationManager

<div class="content">
   
    <div class="cardSign">
         <p class="pHeader"> Sign in </p>
         @* <p class="pHeader"> @selectRole</p> *@

         <div class="rowCard">
            <p>Login</p>
            <input @bind-value="@itemLogin"/>
        </div>
        
        <div class="rowCard">
            <p>Password</p>
            <input @bind-value="@itemPassword"/>
        </div>
        
        <button class="btnSing" onclick="@isValidate">Sign in</button>

         <Message/>
         
    </div>
</div>



@code {
 
    String itemLogin = "";
    String itemPassword = "";
    
    String selectRole="Y";

   

    
    public void isValidate()
    {
        if (itemLogin != "" && itemPassword != "")
        {
           
            FindAccount();
          
        }
        
        
        
    }

    public void isUser(User user)
    {
   //     MongoDBAction mongo = new MongoDBAction();
        
        switch (user.Role)
        {
            case "Заказчик":
                NavigationManager.NavigateTo("client");

                if (user is Client client)
                {
                    mongo.isLoginClient = client;
                }
                
              
                break;
                
            case "Проектировщик":
                NavigationManager.NavigateTo("designer");

                if (user is Designer designer)
                {
                    mongo.isLoginDesigner = designer;
                }
                break;
                
            case "Застройщик":
                NavigationManager.NavigateTo("builder");

                if (user is Builder builder)
                {
                    mongo.isLoginBuilder = builder;
                }
                break;
        }
    }

    public void FindAccount()
    {
        User user = new User();

        
        user = MongoDBAction.FindByName(itemLogin, itemPassword);

        if (user is not null)
        {
            if (user.Role == "Заказчик")
            {
                Client client = new Client();
            }
            
            if (user.Role == "Проектировщик")
            {
                Designer designer = new Designer();
            }
            
            if (user.Role == "Застройщик")
            {
                Builder builder = new Builder();
            }
        }
        
        
        
        isUser(user);
        
    }
}
